<%- include('partials/header', { title: 'Dominik Matić - About' }) %>
    <%- include('partials/navbar', {about: 'active'}) %> 
    <div class="container pt-3 w-75">
        <h1>How did I make this website?</h1>
        <p>
            This website is served to you by a <a class="text-white" href="https://nodejs.org/">Node.js</a> app running
            in a <a class="text-white" href="https://www.docker.com/">Docker</a> container behind an 
            <a class="text-white" href="https://www.nginx.com/">Nginx</a> reverse proxy, hosted on an
            <a class="text-white" href="https://aws.amazon.com/">AWS</a> EC2 instance.
        </p>
        <p>
            Infrastructure is provisioned using <a class="text-white" href="https://www.terraform.io/">Terraform</a>, and server setup and deployment
            are handled with <a class="text-white" href="https://www.ansible.com/">Ansible</a>. CI/CD is powered by
            <a class="text-white" href="https://github.com/features/actions">GitHub Actions</a>.
        </p>
        <p>
            The domain was registered via <a class="text-white" href="https://porkbun.com/">Porkbun</a>, and HTTPS is managed using
            <a class="text-white" href="https://letsencrypt.org/">Let's Encrypt</a> with <a class="text-white" href="https://certbot.eff.org/">Certbot</a>.
        </p>
        <p>
            The full source code and version history are available
            <a class="text-white" href="https://github.com/dominik-matic/my-website">on GitHub</a>.
        </p>

        
    </div>
<%- include('partials/footer') %>