<%- include('partials/header', { title: 'About' }) %>
    <%- include('partials/navbar', {about: 'active'}) %> 
    <div class="container">
        <h1>This is the about page</h1>
    </div>
<%- include('partials/footer') %>