<%- include('partials/header', { title: 'Dominik Matić' }) %>
    <%- include('partials/navbar', {home: 'active'}) %> 
    <div class="container">
        <h1>This is the main page</h1>
    </div>
<%- include('partials/footer') %>