<%- include('partials/header', { title: 'Dominik Matić' }) %>
    <%- include('partials/navbar', {home: 'active'}) %> 
    <div class="container pt-3 w-75">
        <h1>Hi!</h1>
        <p>
            My name is Dominik. I just graduated with a master's degree in computer science
            and yes, tabs are better than spaces.
        </p>
        <p>
            I love <u>math</u>, I think it's neat, but what I love more than math is solving problems <i>with math</i>. That's probably why I've spent a lot of time
            studying <b>machine learning</b> and various <b>optimization algorithms</b> and techniques. There is something so satisfying
            about hearing the RPM of your GPU fans increase when doing intense computations trying solve a difficult problem.
        </p>
        <p>
            I also love <u>cool technologies</u>. I've dedicated both my bachelor's and master's theses to studying <b>quantum computing</b> and
            <b>quantum algorithms</b>. That whole area is very interesting and unlike anything else I've encountered in computer science. I'm
            also very passionate about <b>Linux</b> (arch btw) and open source technologies in general. <b>C++</b> is my favourite language,
            but I have more fun with <b>Python</b>.
        </p>
        <p>
            I enjoy <b>automating</b> things, my PC is full of Python scripts that automate dozens of random tasks that probably don't really need automation.
            In any case, the idea of managing and configuring complex infrastructure with code alone is very exciting to me.
            I also dabble in <b>cybersecurity</b>, I attend hackathons, CTF events, and various coding challenges whenever I can.
        </p>
        <p>
            Other than all that I'm infatuated with physics, obsessed with music, and chronically addicted to Old School RuneScape.
        </p>
    </div>
<%- include('partials/footer') %>